.question-container {
    width: 40rem;
    border: 2px solid teal;
}

.button {
    border: 1px solid pink;
    background-color: hotpink;
}

.button-container {
    display: flex;
    justify-content: space-around;

    &__left {
        display: flex;
        flex-direction: column;
    }

    &__right {
        display: flex;
        flex-direction: column;
    }
}